<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'orders:home' %}">Home</a></li>
        <li><a href="{% url 'orders:orders_view' %}">Service Orders</a></li>
        <li><a href="{% url 'orders:home' %}">Pantry</a></li> 
        <li><a href="{% url 'orders:home' %}">Tickets</a></li> 
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'orders:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <form class="logout-link" action="{% url 'orders:logout' %}" method="post">
              {% csrf_token %}
              <input class="btn btn-primary btn-sm" align="right" type="submit" value="Logout" />
            </form>
      </ul>
    </div>
  </div>
</nav>